<%= link_to "New Post", new_blog_path, class: "btn" %>
<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td>
          <%= blog.language.try(:name) %>  
        </td>
        <td>
          <%= link_to blog_path(blog) do %>
            <%= blog.title %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>